<%- include('./../_partials/head.ejs'); -%>

    <h1>About</h1>
    <p>
        <%= user.firstname %>
            <%= user.lastname %>
    </p>
    <img src="/images/Donald-Duck.gif">
    <%- include('./../_partials/footer.ejs'); -%>